* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgb(22, 41, 70), rgb(46, 90, 156));
}

.page {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}

.main-card {
  margin: 0;
  background-color: white;
  border-radius: 2rem;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.card-header {
  text-align: center;
  font-size: x-large;
  padding: 12px 0;
  color: rgb(22, 41, 70);
  font-family: "Quicksand", sans-serif;
}

.notification {
  background-color: rgb(255, 116, 116);
  text-align: center;
  padding: 12px 0;
  font-size: x-large;
  color: white;
  display: none;
}

.weather-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(218, 233, 255);
  height: 90%;
  font-family: "Quicksand", sans-serif;
}

.icon-and-temp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-icon {
  /* border: 1px solid black; */
  width: 250px;
  height: 250px;
}

.temperature {
  margin-top: 22px;
  font-size: 80px;
  color: rgb(22, 41, 70);
}

.description {
  font-size: 40px;
  color: rgb(22, 41, 70);
}

.location {
  font-size: 25px;
  color: rgb(22, 41, 70);
}

.current-date {
  margin-top: 20px;
  font-size: 22px;
  color: rgb(22, 41, 70);
  margin-bottom: 20px;
}

.card-footer {
  text-align: center;
  font-size: 19px;
  padding: 12px 10px;
  color: rgb(97, 97, 97);
  font-family: "Quicksand", sans-serif;
}

.input-wrapper {
  /* border: 1px solid greenyellow; */
  margin-top: 50px;
  color: white;
  display: flex;
  flex-direction: column;
}

.input-label {
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
}

.text-input {
  margin-top: 15px;
  font-size: x-large;
  padding: 10px 15px;
  border: none;
  border-radius: 1rem;
  max-width: 400px;
  height: 60px;
}

.text-input:focus {
  outline: none;
}

.right-wrapper {
  display: flex;
  flex-direction: row;
  /* border: 1px solid rgb(255, 0, 0); */
  justify-content: space-between;
  margin: auto;
  font-family: "Quicksand", sans-serif;
}

.weather-grid-wrapper {
  /* border: 1px solid rgb(238, 255, 0); */
  display: flex;
  margin-left: 30px;
  width: auto;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 40px;
  text-align: start;
  color: white;
}

.weather-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 170px 170px 170px;
  grid-gap: 12px;
}

.grid-item {
  background-color: white;
  border-radius: 1rem;
  padding: 15px;
}

.grid-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.day-name {
  color: black;
  font-size: 22px;
}

.grid-icon {
  width: 110px;
  height: 110px;
}

.grid-temp-max-min {
  font-size: 25px;
  color: black;
}

/* TABLET MEDIA QUERIES */

@media screen and (max-width: 951px) {
  .weather-grid-wrapper {
    width: auto;
    margin-left: 15px;
  }
  .weather-grid {
    display: grid;
    grid-template-columns: 170px 170px;
  }
  .main-card {
    margin: auto;
    align-self: flex-start;
  }
  .page {
    height: auto;
    padding: 0px;
  }
}

/* SMART PHONE MEDIA QUERIES */

@media screen and (max-width: 753px) {
  .right-wrapper {
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .page {
    height: auto;
    padding: 10px 5px;
  }
  .weather-grid-wrapper {
    margin: 20px 0 0 0;
  }
  .input-wrapper {
    margin: 20px 0 0 0;
  }
  .weather-grid {
    margin-top: 20px;
  }
}
